{% extends "SingzCoreBundle::layout.html.twig" %}

{% block title %}
    "{{ project.name }}" de {{ project.requester.username }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	<style>
        .btn-crowdfunding {
          -webkit-box-flex: 1;
              -ms-flex: 1 1 auto;
                  flex: 1 1 auto;
          margin: 10px;
          padding: 20px;
          border: 2px solid #f7f7f7;
          text-align: center;
          text-transform: uppercase;
          position: relative;
          overflow: hidden;
          -webkit-transition: .3s;
          transition: .3s;
          color: #f7f7f7;
        }
        .btn-crowdfunding:after {
          position: absolute;
          -webkit-transition: .3s;
          transition: .3s;
          content: '';
          width: 0;
          bottom: 0;
          background: #f7f7f7;
          height: 120%;
          left: -10%;
          -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
          z-index: -1;
        }
        .btn-crowdfunding:hover {
          cursor: pointer;
          color: #c94e50;
        }
        .btn-crowdfunding:hover:after {
          left: -10%;
          width: 120%;
        }    
	</style>
{% endblock %}

{% block body %}
	<div class="row">
		{# Options #}
    	{% if app.user and (project.requester == app.user or is_granted('ROLE_ADMIN')) %}
            <div class="dropdown pull-right">
              	<button style="color: black" class="btn btn-default dropdown-toggle btn-xs" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        			Options <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
        		</button>
            	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                    <li>
                        {# Edit button #}
                        <a href="{{ path('singz_core_bundle_project_edit', {'id': project.id}) }}">
                        	<i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> Modifier le projet
                        </a>
                        {# Delete button #}
                        <a href="{{ path('singz_core_bundle_project_delete', {'id': project.id}) }}" class="confirmation-alert">
                        	<i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Supprimer le projet
                        </a>
                    </li>
        		</ul>
        	</div>
        {% endif %}
		{# Name #}
		<div class="col-xs-12" style="text-align:center">
			<h2>
			    {{ project.name }} 
			</h2>
	    	{% if project.state is constant('STATE_VISIBLE', project) %}
	        	<span class="label label-info">En cours</span>
        	{% endif %}
	    	{% if project.state is constant('STATE_DELETED', project) %}
	        	<span class="label label-danger">Supprimé</span>
        	{% endif %}
	    	{% if project.state is constant('STATE_DONE', project) %}
	        	<span class="label label-success">Objectif atteint</span>
        	{% endif %}
        	<br><br>
		</div>
		{# Requester #}
		<div class="col-xs-12 col-sm-6" style="text-align:center">
			<a href="{{ path('singz_user_bundle_homepage', {'username': project.requester.username}) }}">
	            <i class="fa fa-user-circle-o fa-fw fa-lg" aria-hidden="true"></i> {{ project.requester.username }}
	        </a>
		</div>
		{# Created at #}
		<div class="col-xs-12 col-sm-6" style="text-align:center">
			<i class="fa fa-clock-o fa-fw fa-lg" aria-hidden="true"></i> {{ project.createdAt|localizeddate('full', 'none', locale) }}
		</div>
		{# Crowdfunding button #}
		<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
			<a href="#" class="show-contribution-form">
                <div class="btn-crowdfunding">
    				Participer au projet
    			</div>
    		</a>
		</div>
		{# Crowdfunding form #}
		<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 contribution-form" style="display:none">
	        {% include 'SingzCoreBundle:Project:contribution-form.html.twig' with {'form': form} %}
		</div>
		{# Description #}
		<div class="col-xs-12">
			<hr>
			<p class="text-muted" style="text-align:center">{{ project.description|preg_replace('/#+([a-zA-Z0-9]+)/', '<a href="'~path('singz_hashtagz')~'?k=$1">$0</a>')|raw }}</p>
		</div>
		{# Project amount #}
		<div class="col-xs-12">
        	<div class="progress">
              	<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="{{ project.amountReachedPercentage }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ project.amountReachedPercentage }}%;">
                	{{ project.amountReachedPercentage }}%
              	</div>
            </div>
		</div>
	</div>
{% endblock %}

{% block end_javascripts %}
	<script>
    	$(function(){
    		// Confirm to disable the account
    		$('a.confirmation-alert').click(function(e){
				if(confirm('Vous êtes sur le point de supprimer votre projet. Êtes vous sûr?')){
					return true;
				}
				return false;
        	});
        	// Display contribution form
        	$('a.show-contribution-form').click(function(e){
				e.preventDefault();
				// hide the button
				$(this).fadeOut('fast', function(){
					// show form
					$('.contribution-form').fadeIn('slow');
				});
				
            });
    	});
	</script>
{% endblock %}