{% extends "SingzCoreBundle::layout.html.twig" %}

{% block title %}
    "{{ project.name }}" de {{ project.requester.username }} - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		{# Options #}
    	{% if app.user and (project.requester == app.user or is_granted('ROLE_ADMIN')) %}
            <div class="dropdown pull-right">
              	<button style="color: black" class="btn btn-default dropdown-toggle btn-xs" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        			Options <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
        		</button>
            	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                    <li>
                        {# Edit button #}
                        <a href="{{ path('singz_core_bundle_project_edit', {'id': project.id}) }}">
                        	<i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> Modifier le projet
                        </a>
                        {# Delete button #}
                        <a href="{{ path('singz_core_bundle_project_delete', {'id': project.id}) }}" class="confirmation-alert">
                        	<i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Supprimer le projet
                        </a>
                    </li>
        		</ul>
        	</div>
        {% endif %}
		{# Name #}
		<div class="col-xs-12" style="text-align:center">
			<h2>
			    {{ project.name }} 
			</h2>
	    	{% if project.state is constant('STATE_VISIBLE', project) %}
	        	<span class="label label-info">En cours</span>
        	{% endif %}
	    	{% if project.state is constant('STATE_DELETED', project) %}
	        	<span class="label label-danger">Supprimé</span>
        	{% endif %}
	    	{% if project.state is constant('STATE_DONE', project) %}
	        	<span class="label label-success">Objectif atteint</span>
        	{% endif %}
        	<br><br>
		</div>
		{# Requester #}
		<div class="col-xs-12 col-sm-6" style="text-align:center">
			<a href="{{ path('singz_user_bundle_homepage', {'username': project.requester.username}) }}">
	            <i class="fa fa-user-circle-o fa-fw fa-lg" aria-hidden="true"></i> {{ project.requester.username }}
	        </a>
		</div>
		{# Created at #}
		<div class="col-xs-12 col-sm-6" style="text-align:center">
			<i class="fa fa-clock-o fa-fw fa-lg" aria-hidden="true"></i> {{ project.createdAt|localizeddate('full', 'none', locale) }}
		</div>
		{# Description #}
		<div class="col-xs-12">
			<hr>
			<p class="text-muted" style="text-align:center">{{ project.description|preg_replace('/#+([a-zA-Z0-9]+)/', '<a href="'~path('singz_hashtagz')~'?k=$1">$0</a>')|raw }}</p>
		</div>
		{# Project amount #}
		<div class="col-xs-12">
        	<div class="progress">
              	<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="{{ project.amountReachedPercentage }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ project.amountReachedPercentage }}%;">
                	{{ project.amountReachedPercentage }}%
              	</div>
            </div>
		</div>
	</div>
{% endblock %}

{% block end_javascripts %}
	<script>
    	$(function(){
    		// Confirm to disable the account
    		$('a.confirmation-alert').click(function(e){
				if(confirm('Vous êtes sur le point de supprimer votre projet. Êtes vous sûr?')){
					return true;
				}
				return false;
        	});
    	});
	</script>
{% endblock %}