{% extends "SingzCoreBundle::layout.html.twig" %}
{% block title %}
    {{ user.username }} - Profil - {{ appname }}
{% endblock %}
{% block stylesheets %}
    <style>
       .user-profile .media
        {
            margin: 20px 0;
            padding:30px;
        }
        .user-profile .dp
        {
            border:10px solid #eee;
            transition: all 0.2s ease-in-out;
        }
        .user-profile .dp:hover
        {
            border:2px solid #eee;
            transform:rotate(360deg);
            -ms-transform:rotate(360deg);  
            -webkit-transform:rotate(360deg);  
        }
        .is-private{
        	text-align: center;
    	    padding: 50px;
        }
        .is-private i{
            font-size: 6em;
        }
        .is-private p{
    	    font-size: 120%;
    		font-weight: bold;
        }
        .project .project-name{
        	font-style: italic;
        }
    </style>
    {# Publication purpose #}
    <link rel="stylesheet" href="{{ asset('bundles/singzvideo/css/plyr.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/singzsocial/css/publication.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/singzsocial/css/comments.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/singzsocial/css/resingz.css') }}">
{% endblock %}
{% block body %}
	{# Profile information #}
    <div class="row">
        <div class="col-md-12">
            <div class="media user-profile">
            	{# Options #}
            	{% if user == app.user %}
                    <div class="dropdown pull-right">
                      	<button style="color: black" class="btn btn-default dropdown-toggle btn-xs" type="button" id="dropdownMenuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                			Options <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
                		</button>
                    	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuProfile">
                    		{% if user.projects is empty %}
                        		<li>
                               		{# Create project button #}
                                    <a href="{{ path('singz_core_bundle_project_new') }}" class="">
                                    	<i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Créer un projet
                                    </a>
                                </li>
                            {% endif %}
                    		<li>
                           		{# Edit button #}
                                <a href="{{ path('fos_user_profile_edit') }}" class="">
                                	<i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i> Modifier mon profil
                                </a>
                            </li>
                            <li>
                                {# Disable button #}
                                <a href="{{ path('singz_user_enabled', {'id':user.id, 'state':'disabled'}) }}" class="confirmation-alert">
                                	<i class="fa fa-trash-o fa-fw" aria-hidden="true"></i> Désactiver mon compte
                                </a>
                            </li>
                		</ul>
                	</div>
                {% endif %}
            	{# Image #}
                <a class="pull-left" href="{{ path('singz_user_bundle_homepage', {'username':user.username}) }}">
                    <img class="media-object dp img-circle" src="{{ asset(user.image.realPath) }}" style="width: 100px;height:100px;">
                </a>
                <div class="media-body">
                	{# Username #}
                    <h4 class="media-heading">
                        <a href="{{ path('singz_user_bundle_homepage', {'username':user.username}) }}">
                            {{ user.username }}
                        </a>
                        <small> {% if 'ROLE_STARZ' in user.roles %} &#9733; Starz {% endif %}</small>
                    </h4>
                    {# S'abonner #}
                	{% if app.user %}
                        {# Check if is following or pending #}
                        {% set following = false %}
                        {% set ispending = false %}
                        {% for f in followers %}
                            {% if f.follower == app.user %}
                                {% set following = true %}
                            {% endif %}
                        {% endfor %}
                        {% for p in pending %}
                            {% if p.follower == app.user %}
                                {% set ispending = true %}
                            {% endif %}
                        {% endfor %}
                    	<div>
                    		{% if user != app.user %}
                                <a href="{{ path('singz_social_bundle_follow', {'leaderId':user.id}) }}" class="btn btn-default">
                                    {% if following == true %}
                                        <i class="fa fa-thumbs-up fa-lg fa-fw" aria-hidden="true" title="Se désabonner"></i> Se désabonner
                                    {% elseif ispending == true %}
                                        <i class="fa fa-hand-paper-o fa-lg fa-fw"></i> Annuler la demande
                                    {% else %}
                                        <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true" title="S'abonner"></i> S'abonner
                                    {% endif %}
                                    </a>
                            {% endif %}
                    	</div>
                    {% endif %}
                    {# Biographie #}
                    <h5>
                    	{% if user.biography is not empty %}
                    		{{ user.biography }}
                    	{% else %}
                    		Aucune biographie
                    	{% endif %}
                    </h5>
                    {# Projects #}
                	{% if user.projects is not empty and user.projects[0].state is constant('STATE_VISIBLE', user.projects[0]) %}
                		<div class="project">
                    		<span class="project-name">
                    		    <a href="{{ path('singz_core_bundle_project_show', {'id': user.projects[0].id}) }}">
                	                {{ user.projects[0].name }}
                	            </a>
                	        </span>
                        	<div class="progress">
                              	<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="{{ user.projects[0].amountReachedPercentage }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ user.projects[0].amountReachedPercentage }}%;">
                                	{{ user.projects[0].amountReachedPercentage }}%
                              	</div>
                            </div>
						</div>
                	{% endif %}
                    {# Create project button #}
                    {% if app.user and user == app.user and user.projects is empty %}
                        <a href="{{ path('singz_core_bundle_project_new') }}" class="">
                        	<i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Créer un projet
                        </a>
					{% endif %}
                    {# Followers #}
                    <hr style="margin:8px auto">
    				<div>
                        <button class="btn btn-default btn-xs">
                            {{ user.publications|length }} Publication{{ user.publications|length!=1?'s' }}
                        </button>
                        <button class="btn btn-default btn-xs" data-tab="leaders" data-toggle="modal" data-target="#leadersModal">
                            {{ leaders|length }} Abonnement{{ leaders|length!=1?'s' }}
                        </button>
                        <button class="btn btn-default btn-xs" data-tab="followers" data-toggle="modal" data-target="#leadersModal">
                            {{ followers|length }} Abonné{{ followers|length!=1?'s' }}
                        </button>
                        <button class="btn btn-default btn-xs" data-tab="contributions" data-toggle="modal" data-target="#followersModal">
                            {{ user.contributions|length }} Contribution{{ user.contributions|length!=1?'s' }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# Publications #}
    <div class="row">
        <div class="col-md-12">
            {# Check if is pending #}
        	{% set isPending = true %}
        	{% set requested = false %}
        	{% for leader in user.leaders %}
        		{% if leader.leader == user %}
        			{% set requested = true %}
        			{% if leader.isPending == false %}
        	            {% set isPending = false %}
        		    {% endif %}
        		{% endif %}
        	{% endfor %}
        	{# Publications #}
        	{% if user.isPrivate == false or (user.isPrivate == true and isPending == false) or user == app.user %}
                {# Publication purpose #}
                <div class="container-fluid">
                    <div class="publications grid" data-default-limit="{{ default_publications_to_retrieve }}" data-href="{{ path('singz_social_bundle_get_publications', { 'filter': 'user', 'userId': user.id }) }}">
                    	<div class="grid-sizer col-sm-12 col-md-4"></div>
                    </div>
                    <div class="no-publication">
                    	<i class="fa fa-video-camera" aria-hidden="true"></i>
                    	<p>Aucune publication</p>
                    </div>
				</div>
            {% else %}
                <div class="is-private">
                	<p><i class="fa fa-lock" aria-hidden="true"></i></p>
                	{% if ispending %}
                		<p>Demande en attente</p>
                	{% else %}
                		<p>Ce profil est privé</p>
                	{% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    {# Modal of leaders/followers #}
    <div class="modal fade in" id="leadersModal" tabindex="-1" role="dialog" aria-labelledby="leadersLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    	<span aria-hidden="true">&times;</span>
                    </button>

                    {% if app.user == user or user.isPrivate == false  or (app.user and following) %}
                    	<div>
                            {# Nav tabs #}
                            <ul class="nav nav-tabs" role="tablist">
                            	{# Abonnements #}
                                <li role="presentation">
                                	<a href="#leaders" aria-controls="leaders" role="tab" data-toggle="tab">
                                		Abonnements <span class="badge">{{ leaders|length }}</span>
                                	</a>
                            	</li>
                            	{# Abonnés #}
                                <li role="presentation">
                                    <a href="#followers" aria-controls="followers" role="tab" data-toggle="tab">
                                    	Abonnés <span class="badge">{{ followers|length }}</span>
                                    </a>
                                </li>
                            	{# Contributions #}
                                <li role="presentation">
                                    <a href="#contributions" aria-controls="contributions" role="tab" data-toggle="tab">
                                    	Contributions <span class="badge">{{ user.contributions|length }}</span>
                                    </a>
                                </li>
                            </ul>
                            {# Tab panes #}
                            <div class="tab-content" style="padding:10px">
                            	{# Leaders #}
                                <div role="tabpanel" class="tab-pane" id="leaders">
        							<ul class="list-group">
            							{% for user in followers %}
                                        	<a href="{{ path('singz_user_bundle_homepage', {'username': user.follower.username}) }}" class="list-group-item">
        										<img style="width:50px;height:50px" src="{{ asset(user.follower.image.realPath) }}" alt="Error loading" class="img-circle">
            									{{ user.follower.username }}
            								</a>
                                        {% endfor %}
                                    </ul>
        						</div>
                            	{# Followers #}
                                <div role="tabpanel" class="tab-pane" id="followers">
        							<ul class="list-group">
            							{% for user in leaders %}
                                        	<a href="{{ path('singz_user_bundle_homepage', {'username': user.leader.username}) }}" class="list-group-item">
        										<img style="width:50px;height:50px" src="{{ asset(user.leader.image.realPath) }}" alt="Error loading" class="img-circle">
            									{{ user.leader.username }}
            								</a>
                                        {% endfor %}
                                    </ul>
        						</div>
                            	{# Contributions #}
                                <div role="tabpanel" class="tab-pane" id="contributions">
        							<ul class="list-group">
										{% for contribution in user.contributions %}
											<a href="{{ path('singz_core_bundle_project_show', {'id': contribution.project.id}) }}" class="list-group-item">
											    <b>{{ contribution.project.name }}</b>
											    {% if contribution.isPrivate == false %}
											    	<small>{{ contribution.amount }} €</small>
											    {% endif %}
											</a>
                                        {% else %}
                                        	<li style="font-style: italic">Aucune contribution</li>
                            			{% endfor %}
                                    </ul>
        						</div>
                            </div>
                        </div>
                    {% else %}
                    	Ce profil est privé
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_javascripts %}
    {% set isPending = true %}
	{% set requested = false %}
	{% for leader in user.leaders %}
		{% if leader.leader == user %}
			{% set requested = true %}
			{% if leader.isPending == false %}
	            {% set isPending = false %}
		    {% endif %}
		{% endif %}
	{% endfor %}
	
	<script>
    	$(function(){
        	// List of leaders
    		$('button[data-target="#leadersModal"]').click(function(){
        		var tab = $(this).attr('data-tab');
    			$('.nav-tabs a[href="#'+tab+'"]').tab('show');
    		});
    		// Confirm to disable the account
    		$('a.confirmation-alert').click(function(e){
				if(confirm('Vous êtes sur le point de désactiver votre compte. Êtes vous sûr?')){
					return true;
				}
				return false;
        	});
    	});
	</script>
    {# Publication purpose #}
    <script src="{{ asset('bundles/singzsocial/imagesLoaded-4.1.3/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/masonry-4.2.0/masonry.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/singzvideo/js/plyr.min.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/js/getPublications.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/js/script.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/js/comment.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/js/resingz.js') }}"></script>
    <script>
    	var path = '{{ path('singz_social_bundle_publication_love') }}';
		$(function(){
			// Set the offset and limit values
			var offset = 0
			var limit = $('.publications').data('default-limit');
			// Display the first publications
			{% if user.isPrivate == false or (user.isPrivate == true and isPending == false) or user == app.user %}
				getPublications($('.publications').data('href'), $('.publications'), undefined, offset, limit);
			{% endif %}
			// Display the next publications through infinite scroll				
            $(window).scroll(function(){
                if(($(window).scrollTop() + $(window).height()) == $(document).height() ) {
    				// Increase the offset
    				offset += limit;
    				// Get next publications
    				getPublications($('.publications').data('href'), $('.grid'), undefined, offset, limit);
                }
            });
         	// Setup masonry grid layout
            $('.grid').masonry({
            	itemSelector: '.grid-item',
            	columnWidth: '.grid-sizer'
            });
		});
    </script>
{% endblock %}