{% extends "SingzCoreBundle::layout.html.twig" %}
{% block title %}
    {{ user.username }} - Profil - {{ appname }}
{% endblock %}
{% block stylesheets %}
    <style>
       .user-profile .media
        {
            margin: 20px 0;
            padding:30px;
        }
        .user-profile .dp
        {
            border:10px solid #eee;
            transition: all 0.2s ease-in-out;
        }
        .user-profile .dp:hover
        {
            border:2px solid #eee;
            transform:rotate(360deg);
            -ms-transform:rotate(360deg);  
            -webkit-transform:rotate(360deg);  
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="media user-profile">
                <a class="pull-left" href="{{ path('singz_user_bundle_homepage', {'id':user.id}) }}">
                    <img class="media-object dp img-circle" src="{% if user.image is null %}{{ asset('bundles/singzcore/img/anonymous_icon.jpg') }}{% else %}{{ asset(user.image.realPath) }}{% endif %}" style="width: 100px;height:100px;">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{{ path('singz_user_bundle_homepage', {'id':user.id}) }}">
                            {{ user.username }}
                        </a>
                        <small> {% if 'ROLE_STARZ' in user.roles %} &#9733; Starz {% endif %}</small>
                    </h4>
                    <h5>
                    	{% if user.biography is not empty %}
                    		{{ user.biography }}
                    	{% else %}
                    		Aucune biographie
                    	{% endif %}
                    </h5>
                    <div>
                    	{% if user == app.user %}
                            <a href={{ path('fos_user_profile_show') }} class="btn btn-default">
                            	Modifier mon profil
                            </a>
                        {% else %}
                            <a href="{{ path('singz_social_bundle_follow', {'leaderId':user.id}) }}" class="btn btn-default">
                                {% set i_follow = false %}
                                {% for currentUserFollower in app.user.followers %}
                                	{% if currentUserFollower.leader == user %}
                                		{% set i_follow = true %}
                                	{% endif %}
                                {% endfor %}
                                {% if i_follow == true %}
                            		Se désabonner
                            	{% else %}
                            		S'abonner
                            	{% endif %}
                            </a>
                        {% endif %}
                    </div>
                    <hr style="margin:8px auto">
    				<div>
                        <span class="label label-default">{{ publications|length }} Publication{{ publications|length!=1?'s' }}</span>
                        <span class="label label-default">{{ followers|length }} Abonnement{{ followers|length!=1?'s' }}</span>
                        <span class="label label-default">{{ leaders|length }} Abonné{{ leaders|length!=1?'s' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        	{% if user.isPrivate != true %}
                {% if publications is not empty %}
                    {% include 'SingzSocialBundle::publications.html.twig' with {
                        'publications': publications
                    } %}
                {% else %}
                    <p style="text-align:center">Aucune publication à afficher :(</p>
                {% endif %}
            {% else %}
                <p style="text-align:center">Cet utilisateur est privé. Suivez le pour voir ses publications ;)</p>
            {% endif %}
        </div>
    </div>
{% endblock %}