{% extends "SingzCoreBundle::layout.html.twig" %}

{% block title %}
    {{ user.username }} - Vidéos Singz
{% endblock %}

{% block head_javascripts %}
    <script>
        var lovePath = '{{ path('singz_social_bundle_follow_user') }}';
        var followPath = '{{ path('singz_social_bundle_publication_love') }}';
    </script>
{% endblock %}

{% block body %}
    {% if user.image.path is defined %}
        <img width="50px" src="{{ asset('uploads/userImage/') }}{{ user.image.path }}">
    {% endif %}
    {{ user.username }} {% if 'ROLE_STARZ' in user.roles %} &#9733; {% endif %}<br/>

    {% if user == app.user %}
        <a href={{ path('fos_user_profile_show') }}>Modifier mon profil</a><br>
    {% else %}
    {% set iFollow = 0 %}
    {% for f in leader if iFollow == 0%}
        {% if f.follower == app.user %}
            {% set iFollow = 1 %}
            <button id="follow-{{ user.id }}" onclick="followUser(lovePath, {{ user.id }}, {{ app.user.id }})">Se désabonner</button>
{#
            {% if not f.isPending %}
                <button id="follow-{{ user.id }}" onclick="followUser(lovePath, {{ user.id }}, {{ app.user.id }})">Se désabonner</button>
            {% else %}
                Demande d'abonnement en attente.
            {% endif %}
#}
        {% endif %}
    {% endfor %}
    {% if iFollow == 0 %}
        <button id="follow-{{ user.id }}" onclick="followUser(followPath, {{ user.id }}, {{ app.user.id }})">S'abonner</button>
    {% endif %}
    </button>

    {% endif %}
    <br>{{ publications|length }} Publications {{ leader|length }} Abonnements {{ followers|length }} Abonnés
    <br>{{ user.biography }}

    {% if publications %}
        {% include 'SingzSocialBundle::publications.html.twig' with {
            'publications': publications
        } %}
    {% else %}
        Aucune publication à afficher
    {% endif %}

{% endblock %}
