{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
	{# username #}
	<div>
        {{ form_errors(form.username) }}
		<div class="form-group">
            {{ form_label(form.username) }}
            {{ form_widget(form.username, {
                'attr': {
                    'class': 'form-control'
                }
            }) }}
        </div>
    </div>
	{# email #}
	<div>
        {{ form_errors(form.email) }}
		<div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {
                'attr': {
                    'class': 'form-control'
                }
            }) }}
        </div>
    </div>
	{# current_password #}
	<div>
        {{ form_errors(form.current_password) }}
		<div class="form-group">
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password, {
                'attr': {
                    'class': 'form-control'
                }
            }) }}
        </div>
    </div>
	{# isPrivate #}
	<div>
        {{ form_errors(form.isPrivate) }}
		<div class="form-group">
            {{ form_widget(form.isPrivate) }}
            {{ form_label(form.isPrivate) }}
        </div>
    </div>
    {# submit #}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-default" >
    </div>
{{ form_end(form) }}
