{% extends "SingzCoreBundle::layout.html.twig" %}

{% block title %}
	Explorer - {{ parent() }}
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/singzcore/css/animated_menu.css') }}">
{% endblock %}

{% block body %}
	{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
	<section class="menu-container">
    	<nav class="menu menu--valentine">
    		<ul class="menu__list">
    			<li class="menu__item {% if currentPath == path('singz_browse', { 'filter': 'all' }) %}menu__item--current{% endif %}">
    				<a href="{{ path('singz_browse', { 'filter': 'all' }) }}" class="menu__link">
    					All
    				</a>
    			</li>
    			<li class="menu__item {% if currentPath == path('singz_browse', { 'filter': 'singzer' }) %}menu__item--current{% endif %}">
    				<a href="{{ path('singz_browse', { 'filter': 'singzer' }) }}" class="menu__link">
    					Singzers
    				</a>
    			</li>
    			<li class="menu__item {% if currentPath == path('singz_browse', { 'filter': 'starz' }) %}menu__item--current{% endif %}">
    				<a href="{{ path('singz_browse', { 'filter': 'starz' }) }}" class="menu__link">
    					Starz
    				</a>
    			</li>
    		</ul>
    	</nav>
    </section>
	{% if publications %}
		{% include 'SingzSocialBundle:Publication:publications.html.twig' with {
			'publications': publications
		} %}
	{% else %}
		Aucune publication à afficher
	{% endif %}
{% endblock %}

{% block end_javascripts %}
    <script src="{{ asset('bundles/singzcore/js/animated_menu.js') }}"></script>
{% endblock %}
