{% extends "SingzCoreBundle::layout.html.twig" %}

{% block title %}
    Fil d'actualité - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {# Publication purpose #}
    <link rel="stylesheet" href="{{ asset('bundles/singzvideo/css/plyr.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/singzsocial/css/publication.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/singzsocial/css/comments.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/singzsocial/css/resingz.css') }}">
{% endblock %}

{% block body %}
    {# Publication purpose #}
    <div class="container-fluid">
        <div class="publications grid" data-default-limit="{{ default_publications_to_retrieve }}" data-href="{{ path('singz_social_bundle_get_publications', { filter: 'feed' }) }}">
        	<div class="grid-sizer col-sm-12 col-md-4"></div>
        </div>
        <div class="no-publication">
        	<i class="fa fa-video-camera" aria-hidden="true"></i></p>
        	<p>Aucune publication</p>
        </div>
	</div>
{% endblock %}

{% block end_javascripts %}
    {# Publication purpose #}
    <script src="{{ asset('bundles/singzsocial/imagesLoaded-4.1.3/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/masonry-4.2.0/masonry.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/singzvideo/js/plyr.min.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/js/getPublications.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/js/script.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/js/comment.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/js/resingz.js') }}"></script>
    <script>
    	var path = '{{ path('singz_social_bundle_publication_love') }}';
		$(function(){
			// Set the offset and limit values
			var offset = 0
			var limit = $('.publications').data('default-limit');
			// Display the first publications
			getPublications($('.publications').data('href'), $('.publications'), undefined, offset, limit);
			// Display the next publications through infinite scroll				
            $(window).scroll(function(){
                if(($(window).scrollTop() + $(window).height()) == $(document).height() ) {
    				// Increase the offset
    				offset += limit;
    				// Get next publications
    				getPublications($('.publications').data('href'), $('.grid'), undefined, offset, limit);
                }
            });
         	// Setup masonry grid layout
            $('.grid').masonry({
            	itemSelector: '.grid-item',
            	columnWidth: '.grid-sizer'
            });
		});
    </script>
{% endblock %}