{% extends "SingzCoreBundle::layout.html.twig" %}

{% block title %}
    Fil d'actualité - {{ parent() }}
{% endblock %}

{% block head_javascripts %}
    <script>
        var path = '{{ path('singz_social_bundle_publication_love') }}';
    </script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/foscomment/css/comments.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<!-------------------------------------------------
		Responsive Bootstrap Portfolio And Lightbox
	-------------------------------------------------->
    <div class="sz_video_003_wrapper">
    		<!---------------- 
    		   Trigger Part
    		----------------->
    		<div class="sz_video_003_trig">
    
    			<!-- 1st Row -->
    			<div class="row">
    
    				<!-- 1st Box -->
    				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="sz_video_003_trig_wrap">
    						<!-- Image -->
    						<div class="sz_video_003_trig_img">
    							<img src="lightbox/images/sz_video_003_01.jpg" alt="sz_video_003_01">
    							<!-- Trigger Button -->
    							<div class="sz_video_003_trig_btn">
    								<a href="#sz_video_003_4_col" data-toggle="modal" data-slide-to="0" data-backdrop="true">
    									<span class="fa fa-play"></span>
    								</a>
    							</div>
    							<span>02:15</span>
    						</div>
    						<!-- Trigger Text -->
    						<div class="sz_video_003_trig_txt">
    							<a href="#">complete title and description of the video</a>
    							<span>
    								by:<a href="#">Author's Name</a>
    							</span>
    							<ul>
    								<li>
    									<a href="#">category</a>
    								</li>
    							</ul>
    						</div>
    					</div> <!-- /.sz_video_003_trig_wrap -->
    				</div> <!-- /1st Box -->
    				
    				<!-- 2nd Box -->
    				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="sz_video_003_trig_wrap">
    						<!-- Image -->
    						<div class="sz_video_003_trig_img">
    							<img src="lightbox/images/sz_video_003_02.jpg" alt="sz_video_003_02">
    							<!-- Trigger Button -->
    							<div class="sz_video_003_trig_btn">
    								<a href="#sz_video_003_4_col" data-toggle="modal" data-slide-to="1" data-backdrop="true">
    									<span class="fa fa-play"></span>
    								</a>
    							</div>
    							<span>02:15</span>
    						</div>
    						<!-- Trigger Text -->
    						<div class="sz_video_003_trig_txt">
    							<a href="#">complete title and description of the video</a>
    							<span>
    								by:<a href="#">Author's Name</a>
    							</span>
    							<ul>
    								<li>
    									<span>picked</span>
    								</li>
    								<li>
    									<a href="#">category</a>
    								</li>
    							</ul>
    						</div>
    					</div> <!-- /.sz_video_003_trig_wrap -->
    				</div> <!-- /2nd Box -->
    				
    				<!-- 3rd Box -->
    				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="sz_video_003_trig_wrap">
    						<!-- Image -->
    						<div class="sz_video_003_trig_img">
    							<img src="lightbox/images/sz_video_003_03.jpg" alt="sz_video_003_03">
    							<!-- Trigger Button -->
    							<div class="sz_video_003_trig_btn">
    								<a href="#sz_video_003_4_col" data-toggle="modal" data-slide-to="2" data-backdrop="true">
    									<span class="fa fa-play"></span>
    								</a>
    							</div>
    							<span>02:15</span>
    						</div>
    						<!-- Trigger Text -->
    						<div class="sz_video_003_trig_txt">
    							<a href="#">complete title and description of the video</a>
    							<span>
    								by:<a href="#">Author's Name</a>
    							</span>
    							<ul>
    								<li>
    									<a href="#">category</a>
    								</li>
    							</ul>
    						</div>
    					</div> <!-- /.sz_video_003_trig_wrap -->
    				</div> <!-- /3rd Box -->
    				
    				<!-- 4th Box -->
    				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="sz_video_003_trig_wrap">
    						<!-- Image -->
    						<div class="sz_video_003_trig_img">
    							<img src="lightbox/images/sz_video_003_04.jpg" alt="sz_video_003_04">
    							<!-- Trigger Button -->
    							<div class="sz_video_003_trig_btn">
    								<a href="#sz_video_003_4_col" data-toggle="modal" data-slide-to="3" data-backdrop="true">
    									<span class="fa fa-play"></span>
    								</a>
    							</div>
    							<span>02:15</span>
    						</div>
    						<!-- Trigger Text -->
    						<div class="sz_video_003_trig_txt">
    							<a href="#">complete title and description of the video</a>
    							<span>
    								by:<a href="#">Author's Name</a>
    							</span>
    							<ul>
    								<li>
    									<a href="#">category</a>
    								</li>
    							</ul>
    						</div>
    					</div> <!-- /.sz_video_003_trig_wrap -->
    				</div> <!-- /4th Box -->
    
    			</div> <!-- /End of 1st Row -->
    			
    			<!-- 2nd Row -->
    			<div class="row">
    
    				<!-- 5th Box -->
    				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="sz_video_003_trig_wrap">
    						<!-- Image -->
    						<div class="sz_video_003_trig_img">
    							<img src="lightbox/images/sz_video_003_05.jpg" alt="sz_video_003_05">
    							<!-- Trigger Button -->
    							<div class="sz_video_003_trig_btn">
    								<a href="#sz_video_003_4_col" data-toggle="modal" data-slide-to="4" data-backdrop="true">
    									<span class="fa fa-play"></span>
    								</a>
    							</div>
    							<span>02:15</span>
    						</div>
    						<!-- Trigger Text -->
    						<div class="sz_video_003_trig_txt">
    							<a href="#">complete title and description of the video</a>
    							<span>
    								by:<a href="#">Author's Name</a>
    							</span>
    							<ul>
    								<li>
    									<span>picked</span>
    								</li>
    								<li>
    									<a href="#">category</a>
    								</li>
    							</ul>
    						</div>
    					</div> <!-- /.sz_video_003_trig_wrap -->
    				</div> <!-- /5th Box -->
    
    				<!-- 6th Box -->
    				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="sz_video_003_trig_wrap">
    						<!-- Image -->
    						<div class="sz_video_003_trig_img">
    							<img src="lightbox/images/sz_video_003_06.jpg" alt="sz_video_003_06">
    							<!-- Trigger Button -->
    							<div class="sz_video_003_trig_btn">
    								<a href="#sz_video_003_4_col" data-toggle="modal" data-slide-to="5" data-backdrop="true">
    									<span class="fa fa-play"></span>
    								</a>
    							</div>
    							<span>02:15</span>
    						</div>
    						<!-- Trigger Text -->
    						<div class="sz_video_003_trig_txt">
    							<a href="#">complete title and description of the video</a>
    							<span>
    								by:<a href="#">Author's Name</a>
    							</span>
    							<ul>
    								<li>
    									<a href="#">category</a>
    								</li>
    							</ul>
    						</div>
    					</div> <!-- /.sz_video_003_trig_wrap -->
    				</div> <!-- /6th Box -->
    
    				<!-- 7th Box -->
    				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="sz_video_003_trig_wrap">
    						<!-- Image -->
    						<div class="sz_video_003_trig_img">
    							<img src="lightbox/images/sz_video_003_07.jpg" alt="sz_video_003_07">
    							<!-- Trigger Button -->
    							<div class="sz_video_003_trig_btn">
    								<a href="#sz_video_003_4_col" data-toggle="modal" data-slide-to="6" data-backdrop="true">
    									<span class="fa fa-play"></span>
    								</a>
    							</div>
    							<span>02:15</span>
    						</div>
    						<!-- Trigger Text -->
    						<div class="sz_video_003_trig_txt">
    							<a href="#">complete title and description of the video</a>
    							<span>
    								by:<a href="#">Author's Name</a>
    							</span>
    							<ul>
    								<li>
    									<span>picked</span>
    								</li>
    								<li>
    									<a href="#">category</a>
    								</li>
    							</ul>
    						</div>
    					</div> <!-- /.sz_video_003_trig_wrap -->
    				</div> <!-- /7th Box -->
    				
    				<!-- 8th Box -->
    				<div class="col-xs-12 col-sm-6 col-md-3">
    					<div class="sz_video_003_trig_wrap">
    						<!-- Image -->
    						<div class="sz_video_003_trig_img">
    							<img src="lightbox/images/sz_video_003_08.jpg" alt="sz_video_003_08">
    							<!-- Trigger Button -->
    							<div class="sz_video_003_trig_btn">
    								<a href="#sz_video_003_4_col" data-toggle="modal" data-slide-to="7" data-backdrop="true">
    									<span class="fa fa-play"></span>
    								</a>
    							</div>
    							<span>02:15</span>
    						</div>
    						<!-- Trigger Text -->
    						<div class="sz_video_003_trig_txt">
    							<a href="#">complete title and description of the video</a>
    							<span>
    								by:<a href="#">Author's Name</a>
    							</span>
    							<ul>
    								<li>
    									<a href="#">category</a>
    								</li>
    							</ul>
    						</div>
    					</div> <!-- /.sz_video_003_trig_wrap -->
    				</div> <!-- /8th Box -->
    
    			</div> <!-- /End of 2nd Row -->
    
    		</div>
    		<!------------------ 
    		  End Trigger Part
    		------------------->
    		
    		<!----------------------------
    		   Light Box And Slider Part
    		----------------------------->
    		<div id="sz_video_003_4_col" class="modal fade sz_vid_003_mod_sld sz_bd_black carousel sz_video_003_controls sz_video_003_indicators thumb_scroll_y selfPauseVids selfPauseVidm onlinePauseVideos onlinePauseVideom" data-ride="carousel" data-duration="2000" data-interval="false" role="dialog">
    			<div class="modal-dialog">
    				<div class="modal-content">
    					<!-- Close Button -->
    					<a href="#" class="sz_video_003_close" data-dismiss="modal"><span class="fa fa-times"></span></a>
    
    					<!-- Indicators -->
    					<ol class="carousel-indicators">
    						<!-- 1st Indicator -->
    						<li data-target="#sz_video_003_4_col" data-slide-to="0" class="active">
    							<!-- 1st Indicator Image -->
    							<img src="lightbox/images/sz_video_003_01.jpg" alt="sz_video_003_01">
    							<!-- 1st Indicator Text -->
    							<div>
    								<p>complete title and description of the video</p>
    								<span>50,053 view</span>
    							</div>
    						</li>
    						<!-- 2nd Indicator -->
    						<li data-target="#sz_video_003_4_col" data-slide-to="1">
    							<!-- 1st Indicator Image -->
    							<img src="lightbox/images/sz_video_003_02.jpg" alt="sz_video_003_02">
    							<!-- 1st Indicator Text -->
    							<div>
    								<p>complete title and description of the video</p>
    								<span>50,053 view</span>
    							</div>
    						</li>
    						<!-- 3rd Indicator -->
    						<li data-target="#sz_video_003_4_col" data-slide-to="2">
    							<!-- 1st Indicator Image -->
    							<img src="lightbox/images/sz_video_003_03.jpg" alt="sz_video_003_03">
    							<!-- 1st Indicator Text -->
    							<div>
    								<p>complete title and description of the video</p>
    								<span>50,053 view</span>
    							</div>
    						</li>
    						<!-- 4th Indicator -->
    						<li data-target="#sz_video_003_4_col" data-slide-to="3">
    							<!-- 1st Indicator Image -->
    							<img src="lightbox/images/sz_video_003_04.jpg" alt="sz_video_003_04">
    							<!-- 1st Indicator Text -->
    							<div>
    								<p>complete title and description of the video</p>
    								<span>50,053 view</span>
    							</div>
    						</li>
    						<!-- 5th Indicator -->
    						<li data-target="#sz_video_003_4_col" data-slide-to="4">
    							<!-- 1st Indicator Image -->
    							<img src="lightbox/images/sz_video_003_05.jpg" alt="sz_video_003_05">
    							<!-- 1st Indicator Text -->
    							<div>
    								<p>complete title and description of the video</p>
    								<span>50,053 view</span>
    							</div>
    						</li>
    						<!-- 6th Indicator -->
    						<li data-target="#sz_video_003_4_col" data-slide-to="5">
    							<!-- 1st Indicator Image -->
    							<img src="lightbox/images/sz_video_003_06.jpg" alt="sz_video_003_06">
    							<!-- 1st Indicator Text -->
    							<div>
    								<p>complete title and description of the video</p>
    								<span>50,053 view</span>
    							</div>
    						</li>
    						<!-- 7th Indicator -->
    						<li data-target="#sz_video_003_4_col" data-slide-to="6">
    							<!-- 1st Indicator Image -->
    							<img src="lightbox/images/sz_video_003_07.jpg" alt="sz_video_003_07">
    							<!-- 1st Indicator Text -->
    							<div>
    								<p>complete title and description of the video</p>
    								<span>50,053 view</span>
    							</div>
    						</li>
    						<!-- 8th Indicator -->
    						<li data-target="#sz_video_003_4_col" data-slide-to="7">
    							<!-- 1st Indicator Image -->
    							<img src="lightbox/images/sz_video_003_08.jpg" alt="sz_video_003_08">
    							<!-- 1st Indicator Text -->
    							<div>
    								<p>complete title and description of the video</p>
    								<span>50,053 view</span>
    							</div>
    						</li>
    					</ol> <!-- /Indicators -->
    
    					<!-- Slider Inner -->
    					<div class="carousel-inner" role="listbox">
    
    						<!-- 1st Slide -->
    						<div class="item active">
    
    							<!-- Description -->
    							<div class="sz_video_003_slide_txt">
    								<!-- Title -->
    								<a href="#">complete title and description of the video</a>
    							</div> <!-- /.sz_video_003_slide_txt -->
    
    							<!-- Youtube Video -->
    							<div class="sz_video_003_youtube">
    								<iframe src="https://www.youtube.com/embed/hEJnMQG9ev8?showinfo=0" allowfullscreen></iframe>
    							</div>
    							<!-- /Youtube Video -->
    							
    							<!-- Social Media Icons -->
    							<ul class="sz_video_003_slide_social">
    								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
    								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
    								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
    								<li><a href="#"><span class="fa fa-youtube"></span></a></li>
    								<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
    							</ul>
    							<!-- /Social Media Icons -->
    
    						</div> <!-- /1st Slide -->
    
    						<!-- 2nd Slide -->
    						<div class="item">
    
    							<!-- Description -->
    							<div class="sz_video_003_slide_txt">
    								<!-- Title -->
    								<a href="#">complete title and description of the video</a>
    							</div> <!-- /.sz_video_003_slide_txt -->
    
    							<!-- Vimeo Video -->
    							<div class="sz_video_003_vimeo">
    								<iframe src="https://player.vimeo.com/video/65888557?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    							</div>
    							<!-- /Vimeo Video -->
    							
    							<!-- Social Media Icons -->
    							<ul class="sz_video_003_slide_social">
    								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
    								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
    								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
    								<li><a href="#"><span class="fa fa-youtube"></span></a></li>
    								<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
    							</ul>
    							<!-- /Social Media Icons -->
    
    						</div> <!-- /2nd Slide -->
    
    						<!-- 3rd Slide -->
    						<div class="item">
    
    							<!-- Description -->
    							<div class="sz_video_003_slide_txt">
    								<!-- Title -->
    								<a href="#">complete title and description of the video</a>
    							</div> <!-- /.sz_video_003_slide_txt -->
    
    							<!-- Self Hosted Video -->
    							<!-- Image For Mobiles. HTML5 Video Tag does not support the mobiles -->
    							<div class="sz_sldr_vid_003_image">
    								<img src="lightbox/images/sz_video_003_03.jpg" alt="sz_video_003_03">
    							</div>
    							<!-- Background Image For Mobiles. HTML Video Tag does not support the mobiles -->
    							<div class="sz_video_003_slf_host">
    								<video controls>
    									<source src="lightbox/images/sz_video_003_01.mp4" type="video/mp4">
    									Your browser does not support HTML5 video.
    								</video>
    							</div>
    							<!-- /Self Hosted Video -->
    							
    							<!-- Social Media Icons -->
    							<ul class="sz_video_003_slide_social">
    								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
    								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
    								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
    								<li><a href="#"><span class="fa fa-youtube"></span></a></li>
    								<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
    							</ul>
    							<!-- /Social Media Icons -->
    
    						</div> <!-- /3rd Slide -->
    						
    						<!-- 4th Slide -->
    						<div class="item">
    
    							<!-- Description -->
    							<div class="sz_video_003_slide_txt">
    								<!-- Title -->
    								<a href="#">complete title and description of the video</a>
    							</div> <!-- /.sz_video_003_slide_txt -->
    
    							<!-- Youtube Video -->
    							<div class="sz_video_003_youtube">
    								<iframe src="https://www.youtube.com/embed/QRfj1VCg16Y?showinfo=0" allowfullscreen></iframe>
    							</div>
    							<!-- /Youtube Video -->
    							
    							<!-- Social Media Icons -->
    							<ul class="sz_video_003_slide_social">
    								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
    								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
    								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
    								<li><a href="#"><span class="fa fa-youtube"></span></a></li>
    								<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
    							</ul>
    							<!-- /Social Media Icons -->
    
    						</div> <!-- /4th Slide -->
    						
    						<!-- 5th Slide -->
    						<div class="item">
    
    							<!-- Description -->
    							<div class="sz_video_003_slide_txt">
    								<!-- Title -->
    								<a href="#">complete title and description of the video</a>
    							</div> <!-- /.sz_video_003_slide_txt -->
    
    							<!-- Vimeo Video -->
    							<div class="sz_video_003_vimeo">
    								<iframe src="https://player.vimeo.com/video/47911018?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    							</div>
    							<!-- /Vimeo Video -->
    							
    							<!-- Social Media Icons -->
    							<ul class="sz_video_003_slide_social">
    								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
    								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
    								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
    								<li><a href="#"><span class="fa fa-youtube"></span></a></li>
    								<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
    							</ul>
    							<!-- /Social Media Icons -->
    
    						</div> <!-- /5th Slide -->
    						
    						<!-- 6th Slide -->
    						<div class="item">
    
    							<!-- Description -->
    							<div class="sz_video_003_slide_txt">
    								<!-- Title -->
    								<a href="#">complete title and description of the video</a>
    							</div> <!-- /.sz_video_003_slide_txt -->
    
    							<!-- Self Hosted Video -->
    							<!-- Image For Mobiles. HTML5 Video Tag does not support the mobiles -->
    							<div class="sz_sldr_vid_003_image">
    								<img src="lightbox/images/sz_video_003_06.jpg" alt="sz_video_003_06">
    							</div>
    							<!-- Background Image For Mobiles. HTML Video Tag does not support the mobiles -->
    							<div class="sz_video_003_slf_host">
    								<video controls>
    									<source src="lightbox/images/sz_video_003_02.mp4" type="video/mp4">
    									Your browser does not support HTML5 video.
    								</video>
    							</div>
    							<!-- /Self Hosted Video -->
    							
    							<!-- Social Media Icons -->
    							<ul class="sz_video_003_slide_social">
    								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
    								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
    								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
    								<li><a href="#"><span class="fa fa-youtube"></span></a></li>
    								<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
    							</ul>
    							<!-- /Social Media Icons -->
    
    						</div> <!-- /6th Slide -->
    						
    						<!-- 7th Slide -->
    						<div class="item">
    
    							<!-- Description -->
    							<div class="sz_video_003_slide_txt">
    								<!-- Title -->
    								<a href="#">complete title and description of the video</a>
    							</div> <!-- /.sz_video_003_slide_txt -->
    
    							<!-- Youtube Video -->
    							<div class="sz_video_003_youtube">
    								<iframe src="https://www.youtube.com/embed/JhvrQeY3doI?showinfo=0" allowfullscreen></iframe>
    							</div>
    							<!-- /Youtube Video -->
    							
    							<!-- Social Media Icons -->
    							<ul class="sz_video_003_slide_social">
    								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
    								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
    								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
    								<li><a href="#"><span class="fa fa-youtube"></span></a></li>
    								<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
    							</ul>
    							<!-- /Social Media Icons -->
    
    						</div> <!-- /7th Slide -->
    						
    						<!-- 8th Slide -->
    						<div class="item">
    
    							<!-- Description -->
    							<div class="sz_video_003_slide_txt">
    								<!-- Title -->
    								<a href="#">complete title and description of the video</a>
    							</div> <!-- /.sz_video_003_slide_txt -->
    
    							<!-- Vimeo Video -->
    							<div class="sz_video_003_vimeo">
    								<iframe src="https://player.vimeo.com/video/69225705?title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    							</div>
    							<!-- /Vimeo Video -->
    							
    							<!-- Social Media Icons -->
    							<ul class="sz_video_003_slide_social">
    								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
    								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
    								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
    								<li><a href="#"><span class="fa fa-youtube"></span></a></li>
    								<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
    							</ul>
    							<!-- /Social Media Icons -->
    
    						</div> <!-- /8th Slide -->
    
    					</div>
    					<!-- /Slider Inner -->
    
    					<!-- Left Control Button -->
    					<a class="left carousel-control" href="#sz_video_003_4_col" role="button" data-slide="prev">
    						<span class="fa fa-angle-left"></span>
    					</a>
    					<!-- Right Control Button -->
    					<a class="right carousel-control" href="#sz_video_003_4_col" role="button" data-slide="next">
    						<span class="fa fa-angle-right"></span>
    					</a>
    
    				</div> <!-- /.modal-content -->
    			</div> <!-- /.modal-dialog -->
    		</div> <!-- /.modal & .carousel -->
    		<!-------------------------------
    		  End Light Box And Slider Part
    		-------------------------------->
    
    </div>
	<!-------------------------------------------------
	  End Responsive Bootstrap Portfolio And Lightbox
	-------------------------------------------------->
<hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr><hr>
    <ul class="browse-list">
        {% for publication in publications %}
            <li>
                {% include 'SingzSocialBundle:Publication:publication.html.twig' with {
                    'publication': publication,
                    'comments': comments[publication.id],
                    'thread': threads[publication.id],
                    'view': 'tree'
                } %}
            </li>
        {% else %}
            Aucune publication à afficher
        {% endfor %}
    </ul>
{% endblock %}

{% block end_javascripts %}
    <!-- Comments -->
    <script src="{{ asset('bundles/foscomment/js/comments.js') }}"></script>
    <!-- Bundle script -->
    <script src="{{ asset('bundles/singzsocial/js/script.js') }}"></script>
{% endblock %}