{% extends "SingzCoreBundle::layout.html.twig" %}

{% block title %}
    Hashtagz #{{ hashtag|capitalize }} sur Singz
{% endblock %}

{% block stylesheets %}
    {# Publication purpose #}
    <link rel="stylesheet" href="{{ asset('bundles/singzvideo/css/plyr.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/singzsocial/css/publication.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/singzsocial/css/comments.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/singzsocial/css/resingz.css') }}">
    <style>
    	.no-project{
        	text-align: center;
        	padding: 50px;
        }
        .no-project i{
        	font-size: 6em;
        }
        .no-project p{
        	font-size: 120%;
        	font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
	{# Hashtag #}
    <h1 class="title-hashtag">#{{ hashtag|capitalize }}</h1>

    {# Tabs #}
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#publications" aria-controls="publications" role="tab" data-toggle="tab">Publications</a></li>
        <li role="presentation"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Projets</a></li>
    </ul>

	   <div class="tab-content" style="margin-top:30px">
		 {# Publications #}
        <div role="tabpanel" class="tab-pane fade in active" id="publications">
			    {# Publication purpose #}
          <div class="publications columns grid" data-default-limit="{{ default_publications_to_retrieve }}" data-href="{{ path('singz_social_bundle_get_publications', { hashtag: hashtag }) }}">
          </div>
          <div class="no-publication">
          	<i class="fa fa-video-camera" aria-hidden="true"></i>
          	<p>Aucune publication</p>
          </div>
		   </div>
        {# Projects #}
        <div role="tabpanel" class="tab-pane fade" id="projects">
        	{% if projects %}
                {% include 'SingzCoreBundle:Project:project-mini.html.twig' with {
                'projects': projects
                } %}
            {% else %}
                <div class="no-project">
                  	<i class="fa fa-headphones" aria-hidden="true"></i>
                  	<p>Aucun projet</p>
              	</div>
            {% endif %}
        </div>
	</div>
{% endblock %}

{% block end_javascripts %}
    {# Publication purpose #}
    <script src="{{ asset('bundles/singzsocial/imagesLoaded-4.1.3/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/masonry-4.2.0/masonry.pkgd.min.js') }}"></script>
    <script src="{{ asset('bundles/singzvideo/js/plyr.min.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/js/getPublications.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/js/script.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/js/comment.js') }}"></script>
    <script src="{{ asset('bundles/singzsocial/js/resingz.js') }}"></script>
    <script>
    	var path = '{{ path('singz_social_bundle_publication_love') }}';
		$(function(){
			// Set the offset and limit values
			var offset = 0
			var limit = $('.publications').data('default-limit');
			// Display the first publications
			getPublications($('.publications').data('href'), $('.publications'), undefined, offset, limit);
			// Display the next publications through infinite scroll
            $(window).scroll(function(){
                if(($(window).scrollTop() + $(window).height()) == $(document).height() ) {
    				// Increase the offset
    				offset += limit;
    				// Get next publications
    				getPublications($('.publications').data('href'), $('.grid'), undefined, offset, limit);
                }
            });
         	// Setup masonry grid layout
            $('.grid').masonry({
            	itemSelector: '.grid-item',
            	columnWidth: '.grid-sizer'
            });
		});
    </script>
{% endblock %}
