{% extends "SingzCoreBundle::layout.html.twig" %}

{% block title %}
	Explorer - {{ parent() }}
{% endblock %}

{% block head_javascripts %}
	<script>
		var path = '{{ path('singz_social_bundle_publication_love') }}';
	</script>
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/foscomment/css/comments.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
	<h1>Explorer</h1>
	<a href="{{ path('singz_browse', { 'filter': 'all' }) }}">All</a>
	<a href="{{ path('singz_browse', { 'filter': 'singzer' }) }}">Singzers</a>
	<a href="{{ path('singz_browse', { 'filter': 'starz' }) }}">Starz</a>

	<ul class="browse-list">
		{% for publication in publications %}
			<li>
				{% include 'SingzSocialBundle:Publication:publication.html.twig' with {
				'publication': publication,
				'comments': comments[publication.id],
				'thread': threads[publication.id],
				'view': 'tree'
				} %}
			</li>
		{% else %}
			Aucune publication à afficher
		{% endfor %}
	</ul>
{% endblock %}

{% block end_javascripts %}
	<!-- jQuery -->
	<script src="{{ asset('bundles/singzadmin/js/jquery.min.js') }}"></script>
	<!-- Comments -->
	<script src="{{ asset('bundles/foscomment/js/comments.js') }}"></script>
	<!-- Bundle script -->
	<script src="{{ asset('bundles/singzsocial/js/script.js') }}"></script>
{% endblock %}
