<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </li>
            {# DASHBOARD #}
            <li>
                <a href="{{ path('singz_admin_dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            {# PUBLICATIONS #}
            <li>
                <a href="#"><i class="fa fa-video-camera fa-fw"></i> Publications<span style="" class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('singz_admin_publication_list') }}">Liste des publications</a>
                    </li>
                </ul>
            </li>
            {# PROJETS #}
            <li>
                <a href="#"><i class="fa fa-headphones fa-fw"></i> Projets<span style="" class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('singz_admin_project_list') }}">Liste des projets</a>
                    </li>
                </ul>
            </li>
            {# COMMENTAIRES #}
            <li>
                <a href="#"><i class="fa fa-comments-o fa-fw"></i> Commentaires<span style="" class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('singz_admin_comment_list') }}">Liste des commentaires</a>
                    </li>
                </ul>
            </li>
            {# UTILISATEURS #}
            <li>
                <a href="#"><i class="fa fa-users fa-fw"></i> Utilisateurs<span style="" class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('singz_admin_user_list') }}">Liste des utilisateurs</a>
                    </li>
                </ul>
            </li>
            {# PARAMETRES #}
            <li>
                <a href="{{ path('singz_admin_setting_index') }}"><i class="fa fa-cogs fa-fw"></i> Paramètres</a>
            </li>
        </ul>
    </div>
</div>