{% extends "SingzCoreBundle::layout.html.twig" %}

{% block title %}
    Resingzer la publication de {{ owner.username }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Resingzer la publication de {{ owner.username }}</h1>
    <div>
        {# Ouverture de la balise <form> du formulaire HTML #}
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        {# Génération manuelle et éclatée du champ description : #}
        <div class="form-group">
            {# Génération du label. #}
            {{ form_label(form.description, "Légende", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.description) }}

            <div class="col-sm-10">
                {# Génération de l'input. #}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        {# Génération automatique des champs pas encore écrits.
        Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
        et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>
{% endblock %}