{% extends "SingzAdminBundle::layout.html.twig" %}
{% block title_tag %}Liste des projets - {{ parent() }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/singzadmin/css/dataTables.bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/singzadmin/css/dataTables.responsive.css') }}" rel="stylesheet">
{% endblock %}

{% block title_page %}
    Liste des projets
{% endblock %}

{% block body %}
    <table width="100%" class="table table-bordered table-hover dataTable">
        <thead>
        <tr>
            <th>Auteur</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>

                <td>
                    {{ project.description }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/singzadmin/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/singzadmin/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/singzadmin/js/dataTables.responsive.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.dataTable').DataTable({
                responsive: true,
                columnDefs: [ { orderable: false, targets: [2] } ]
            });
        });
    </script>
{% endblock %}