{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">        
        <form action="{{ path("fos_user_security_check") }}" method="post">
        	<div class="form-group">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
            
        	<div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"  class="form-control " autofocus/>
        	</div>
            
        	<div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required"  class="form-control" />
        	</div>
        	<div>
        		<p style="text-align:right">
        			<a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
        		</p>
        	</div>
            <div class="checkbox">                
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    {{ 'security.login.remember_me'|trans }}
                </label>
        	</div>
        	{% if app.request.get('_route') != app.request.headers.get('referer') %}    
                <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}" />    
            {% endif %}
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-default"/>
        </form>
	</div>
</div>