<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
        {# DYNAMIC CANONICAL URL #}
        <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
        {# DESCRIPTION TAG #}
        <meta name="description" content="{% block description_tag %}{% endblock %}">
		{# TITLE TAG #}
        <title>{% block title %}{{ appname }}{% endblock %}</title>
        {# STYLESHEETS #}
        	{# General #}
            <link href="{{ asset('bundles/foscomment/css/comments.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/singzcore/css/comments.css') }}" rel="stylesheet">
            {# Menu #}
            <link href="{{ asset('bundles/singzcore/OffCanvasMenuEffects/css/normalize.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/singzcore/OffCanvasMenuEffects/css/demo.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/singzcore/OffCanvasMenuEffects/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/singzcore/OffCanvasMenuEffects/css/menu_topside.css') }}" rel="stylesheet">
        	{# Bootstrap #}
            <link rel="stylesheet" href="{{ asset('bundles/singzcore/bootstrap-3.3.7/css/bootstrap.min.css') }}">
            {# Responsive Bootstrap Portfolio And Lightbox Main Style Sheet #}
            <link href="{{ asset('bundles/singzcore/lightbox/css/sz_video_003.css') }}" rel="stylesheet">
            {# Others #}
            <link href="{{ asset('bundles/singzcore/css/style.css') }}" rel="stylesheet">
        {# Custom style one shot #}
        {% block stylesheets %}{% endblock %}
        {# JAVASCRIPTS #}
        {% block head_javascripts %}{% endblock %}
        {# OTHERS HEAD TAGS #}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        <div class="container-global">
        	{# Menu #}
			{{ include('SingzCoreBundle::menu.html.twig') }}
			<button class="menu-button" id="open-button">Open Menu</button>
			<div class="content-wrap">
				<div class="content">
					<div class="row">
						<div class="container">
						    {# Logo #}
    						<div class="col-md-12">
    							<a href="{{ path('singz_index') }}">
    								<img class="center-block" style="width:30%" src="{{ asset('bundles/singzcore/img/logo-singz.png') }}"/>
    							</a>
    						</div>
                            {# Error message #}
    						<div class="col-md-12">
    							{{ include('SingzCoreBundle::flash-messages.html.twig') }}
    						</div>
                            {# Body #}
    						<div class="col-md-12">
                                {% block body %}{% endblock %}
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
        {# JAVASCRIPTS #}
            {# General #}
        	<script src="{{ asset('bundles/singzcore/lightbox/js/jquery-1.12.4.min.js') }}"></script>
        	<script>var assetsBaseDir = "{{ asset('/') }}";</script>
        	{# Bootstrap #}
        	<script src="{{ asset('bundles/singzcore/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
        	{# TouchSwipe JS file #}
        	<script src="{{ asset('bundles/singzcore/lightbox/js/jquery.touchSwipe.js') }}"></script>
        	{# Responsive Bootstrap Portfolio And Lightbox Main JS File #}
        	<script src="{{ asset('bundles/singzcore/lightbox/js/sz_portfolio_lightbox_min.js') }}"></script>
        	{# Menu #}
        	<script src="{{ asset('bundles/singzcore/OffCanvasMenuEffects/js/classie.js') }}"></script>
        	<script src="{{ asset('bundles/singzcore/OffCanvasMenuEffects/js/main.js') }}"></script>
        {% block end_javascripts %}{% endblock %}
    </body>
</html>
