<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        {# DYNAMIC CANONICAL URL #}
        {% if app.request.attributes.get('_route') is not null %}
        	<link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
        {% endif %}
        {# DESCRIPTION TAG #}
        <meta name="description" content="{% block description_tag %}{% endblock %}">
		{# TITLE TAG #}
        <title>{% block title %}{{ appname }}{% endblock %}</title>
        {# STYLESHEETS #}
            {# Reset style #}
            <link href="{{ asset('bundles/singzcore/css/reset.css') }}" rel="stylesheet">
            {# Font awesome icons #}
            <link href="{{ asset('bundles/singzcore/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
        	{# Bootstrap #}
            <link rel="stylesheet" href="{{ asset('bundles/singzcore/bootstrap-3.3.7/css/bootstrap.min.css') }}">
            {# Navigation style #}
            <link href="{{ asset('bundles/singzcore/css/mega-site-navigation.css') }}" rel="stylesheet">
			{# Toasts #}
			<link href="{{ asset('bundles/singzcore/toastr-2.1.3/css/toastr.min.css') }}" rel="stylesheet">
			{# Toasts #}
			<link href="{{ asset('bundles/singzcore/template/radius/css/main.css') }}" rel="stylesheet">
			{# Animate css #}
			<link href="{{ asset('bundles/singzcore/animatecss-3.5.2/animate.min.css') }}" rel="stylesheet">
			{# NProgress #}
			<link href="{{ asset('bundles/singzcore/nprogress-0.2.0/css/nprogress.css') }}" rel="stylesheet">
            {# Others #}
            <link href="{{ asset('bundles/singzcore/css/style.css') }}" rel="stylesheet">
        {# Custom style one shot #}
        {% block stylesheets %}{% endblock %}
        {# JAVASCRIPTS #}
    	<script src="{{ asset('bundles/singzcore/js/jquery-3.1.1.min.js') }}"></script>
    	<script src="{{ asset('bundles/singzcore/js/modernizr.custom.js') }}"></script>
        {% block head_javascripts %}{% endblock %}
        {# OTHERS HEAD TAGS #}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body class="nav-is-fixed">
    	{# Navbar #}
		{{ render(controller('SingzCoreBundle:Core:menu')) }}
		{# Content #}

    <div class="container">
      <div class="row">
                {# Error message #}
        <div class="col-md-12">
          {{ include('SingzCoreBundle::flash-messages.html.twig') }}
        </div>
                {# Body #}
        <div class="col-md-12">
          <main class="cd-main-content">
                        {% block body %}{% endblock %}
                    </main>
                </div>
      </div>
    </div>
    <!-- Footer -->
		<footer id="footer">
			<a href="#" class="info"><img src="{{ asset('bundles/singzcore/img/singz-white.png') }}" alt="footer"></a>
			<div class="inner">
				<div class="content">
					<h3>Singz</h3>
					Singz est un réseau social sur lequel vous pouvez partager vos vidéos musicales. Vous voulez vous lancer dans la musique ? N'attendez plus et créez dès maintenant votre projet. Si vous arrivez à remplir votre cagnotte, Singz s'engage à vous aider à l'enregistrement de votre album !<br>
					&copy; Singz - {{ "now"|date("Y") }}
				</div>
				<div class="copyright">
					<h3>Retrouvez nous également</h3>
					<ul class="icons">
						<li><a href="https://twitter.com/SingzFr" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/SingzFrance/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.facebook.com/SingzFrance/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<a href="mailto:contact@singz.fr">Contactez nous</a>
				</div>
			</div>
		</footer>

		<!-- Scripts -->
        {# JAVASCRIPTS #}
        {# General #}
    	<script>var assetsBaseDir = "{{ asset('/') }}";</script>
    	{# Bootstrap #}
    	<script src="{{ asset('bundles/singzcore/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
    	{# NProgress #}
    	<script src="{{ asset('bundles/singzcore/nprogress-0.2.0/js/nprogress.js') }}"></script>
        {# Navigation js #}
        <script src="{{ asset('bundles/singzcore/js/mega-site-navigation.js') }}"></script>
		{# Toasts #}
		<script src="{{ asset('bundles/singzcore/toastr-2.1.3/js/toastr.min.js') }}"></script>
		<script>
			toastr.options = {
				  "closeButton": true,
				  "debug": false,
				  "newestOnTop": true,
				  "progressBar": true,
				  "positionClass": "toast-bottom-right",
				  "preventDuplicates": false,
				  "onclick": null,
				  "showDuration": "300",
				  "hideDuration": "1000",
				  "timeOut": "5000",
				  "extendedTimeOut": "1000",
				  "showEasing": "swing",
				  "hideEasing": "linear",
				  "showMethod": "fadeIn",
				  "hideMethod": "fadeOut"
				}
		</script>
		{# Template #}
		<script src="{{ asset('bundles/singzcore/template/radius/js/skel.min.js') }}"></script>
		<script src="{{ asset('bundles/singzcore/template/radius/js/util.js') }}"></script>
		<script src="{{ asset('bundles/singzcore/template/radius/js/main.js') }}"></script>
        {# WebSocketBundle #}
		{% if app.user %}
    		<script src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
    		<script src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
    		<script type="text/javascript">
                var _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}";
                var currentUserId = "{{ app.user.id }}";
                var webSocket  = WS.connect(_WS_URI);
                var isConnected = false;
                webSocket.on("socket/connect", function(session){
                    console.info("Successfully Connected!");
                    session.subscribe('notification_topic/'+currentUserId, function(uri, data){
                        if(isConnected == false){
							isConnected = true;
							return;
                        }
                        toastr.info(data.msg);
                        increaseNotificationNumber();
                    });
                })
                webSocket.on("socket/disconnect", function(error){
                    console.error("Disconnected for " + error.reason + " with code " + error.code);
                    isConnected = false;
                })

                function increaseNotificationNumber(){
					var currentNb = $('nav.cd-nav .notification-link .badge').html();
					if(currentNb == undefined){
						$('nav.cd-nav .notification-link').append('<span class="badge badge-notify">1</span>');
					}else{
						$('nav.cd-nav .notification-link .badge').text(++currentNb);
					}
                }
            </script>
		{% endif %}
		<script>
    		$(function () {
				$('[data-toggle="tooltip"]').tooltip();
				$('[data-toggle="popover"]').popover();
    		})
    	</script>
        {% block end_javascripts %}{% endblock %}
    </body>
</html>
