<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        {# DYNAMIC CANONICAL URL #}
        <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
        {# DESCRIPTION TAG #}
        <meta name="description" content="{% block description_tag %}{% endblock %}">
		{# TITLE TAG #}
        <title>{% block title %}{{ appname }}{% endblock %}</title>
        {# STYLESHEETS #}
            {# Reset style #}
            <link href="{{ asset('bundles/singzcore/css/reset.css') }}" rel="stylesheet">
            {# Font awesome icons #}
            <link href="{{ asset('bundles/singzcore/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
        	{# Bootstrap #}
            <link rel="stylesheet" href="{{ asset('bundles/singzcore/bootstrap-3.3.7/css/bootstrap.min.css') }}">
            {# Responsive Bootstrap Portfolio And Lightbox Main Style Sheet #}
            <link href="{{ asset('bundles/singzcore/lightbox/css/sz_video_003.css') }}" rel="stylesheet">
            {# Navigation style #}
            <link href="{{ asset('bundles/singzcore/css/mega-site-navigation.css') }}" rel="stylesheet">
            {# Others #}
            <link href="{{ asset('bundles/singzcore/css/style.css') }}" rel="stylesheet">
        {# Custom style one shot #}
        {% block stylesheets %}{% endblock %}
        {# JAVASCRIPTS #}
    	<script src="{{ asset('bundles/singzcore/js/jquery-3.1.1.min.js') }}"></script>
    	<script src="{{ asset('bundles/singzcore/js/modernizr.custom.js') }}"></script>
        {% block head_javascripts %}{% endblock %}
        {# OTHERS HEAD TAGS #}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body class="nav-is-fixed">
    	{# Navbar #}
		{{ render(controller('SingzCoreBundle:Core:menu')) }}
		{# Content #}
		<div class="container">
			<div class="row">
                {# Error message #}
				<div class="col-md-12">
					{{ include('SingzCoreBundle::flash-messages.html.twig') }}
				</div>
                {# Body #}
				<div class="col-md-12">
					<main class="cd-main-content">
                        {% block body %}{% endblock %}
                    </main>
                </div>
			</div>
		</div>
		
        {# JAVASCRIPTS #}
        {# General #}
    	<script>var assetsBaseDir = "{{ asset('/') }}";</script>
    	{# Navigation #}
    	<script src="{{ asset('bundles/singzcore/js/mega-site-navigation.js') }}"></script>
    	{# Bootstrap #}
    	<script src="{{ asset('bundles/singzcore/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
    	{# TouchSwipe JS file #}
    	<script src="{{ asset('bundles/singzcore/lightbox/js/jquery.touchSwipe.js') }}"></script>
    	{# Responsive Bootstrap Portfolio And Lightbox Main JS File #}
    	<script src="{{ asset('bundles/singzcore/lightbox/js/sz_portfolio_lightbox.js') }}"></script>
    	<script>
    		$(function () {
				$('[data-toggle="tooltip"]').tooltip();
				$('[data-toggle="popover"]').popover();

				$('form#search-form').submit(function(){
					return false;
				});
    		})
    		
    		/*responsive video*/
    		$(window).resize(function(){
    			responsiveVideo();
            });
            function responsiveVideo(){
            	var height = $(".modal .item.active .sz_video_003_slf_host").css("padding-bottom");
        		$(".modal .item.active video").css("height", height);
            }
            $('.modal').on('shown.bs.modal', function (e) {
            	responsiveVideo();
        	})
    	</script>
        {% block end_javascripts %}{% endblock %}
    </body>
</html>
