<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        {# DYNAMIC CANONICAL URL #}
        {% if app.request.attributes.get('_route') is not null %}
        	<link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
        {% endif %}
        {# DESCRIPTION TAG #}
        <meta name="description" content="{% block description_tag %}{% endblock %}">
		{# TITLE TAG #}
        <title>{% block title %}{{ appname }}{% endblock %}</title>
        {# STYLESHEETS #}
            {# Reset style #}
            <link href="{{ asset('bundles/singzcore/css/reset.css') }}" rel="stylesheet">
            {# Font awesome icons #}
            <link href="{{ asset('bundles/singzcore/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
        	{# Bootstrap #}
            <link rel="stylesheet" href="{{ asset('bundles/singzcore/bootstrap-3.3.7/css/bootstrap.min.css') }}">
            {# Navigation style #}
            <link href="{{ asset('bundles/singzcore/css/mega-site-navigation.css') }}" rel="stylesheet">
			{# Toasts #}
			<link href="{{ asset('bundles/singzcore/toastr-2.1.3/css/toastr.min.css') }}" rel="stylesheet">
			{# Toasts #}
			<link href="{{ asset('bundles/singzcore/template/radius/css/main.css') }}" rel="stylesheet">
			{# Animate css #}
			<link href="{{ asset('bundles/singzcore/animatecss-3.5.2/animate.min.css') }}" rel="stylesheet">
			{# NProgress #}
			<link href="{{ asset('bundles/singzcore/nprogress-0.2.0/css/nprogress.css') }}" rel="stylesheet">
            {# Others #}
            <link href="{{ asset('bundles/singzcore/css/style.css') }}" rel="stylesheet">
        {# Custom style one shot #}
        {% block stylesheets %}{% endblock %}
        {# JAVASCRIPTS #}
    	<script src="{{ asset('bundles/singzcore/js/jquery-3.1.1.min.js') }}"></script>
    	<script src="{{ asset('bundles/singzcore/js/modernizr.custom.js') }}"></script>
        {% block head_javascripts %}{% endblock %}
        {# OTHERS HEAD TAGS #}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body class="nav-is-fixed">
    	{# Navbar #}
		{{ render(controller('SingzCoreBundle:Core:menu')) }}
		{# Content #}
		<div id="main">
				<div class="inner">
          {# Error message #}
  				<div class="col-md-12">
  					{{ include('SingzCoreBundle::flash-messages.html.twig') }}
  				</div>
          {# Body #}
          {% block body %}{% endblock %}
			</div>
		</div>

    <!-- Footer -->
		<footer id="footer">
			<a href="#" class="info fa fa-info-circle"><span>About</span></a>
			<div class="inner">
				<div class="content">
					<h3>Vestibulum hendrerit tortor id gravida</h3>
					<p>In tempor porttitor nisl non elementum. Nulla ipsum ipsum, feugiat vitae vehicula vitae, imperdiet sed risus. Fusce sed dictum neque, id auctor felis. Praesent luctus sagittis viverra. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla.</p>
				</div>
				<div class="copyright">
					<h3>Follow me</h3>
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					</ul>
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
				</div>
			</div>
		</footer>

		<!-- Scripts -->
        {# JAVASCRIPTS #}
        {# General #}
    	<script>var assetsBaseDir = "{{ asset('/') }}";</script>
    	{# Bootstrap #}
    	<script src="{{ asset('bundles/singzcore/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
    	{# NProgress #}
    	<script src="{{ asset('bundles/singzcore/nprogress-0.2.0/js/nprogress.js') }}"></script>
      {# Navigation js #}
      <script src="{{ asset('bundles/singzcore/js/mega-site-navigation.js') }}"></script>
		{# Toasts #}
		<script src="{{ asset('bundles/singzcore/toastr-2.1.3/js/toastr.min.js') }}"></script>
		{# Template #}
		<script src="{{ asset('bundles/singzcore/template/radius/js/skel.min.js') }}"></script>
		<script src="{{ asset('bundles/singzcore/template/radius/js/util.js') }}"></script>
		<script src="{{ asset('bundles/singzcore/template/radius/js/main.js') }}"></script>

		<script>
    		$(function () {
				$('[data-toggle="tooltip"]').tooltip();
				$('[data-toggle="popover"]').popover();

				$('form#search-form').submit(function(){
					return false;
				});
    		})
    	</script>
        {% block end_javascripts %}{% endblock %}
    </body>
</html>
