<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
        {# DYNAMIC CANONICAL URL #}
        <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
        {# DESCRIPTION TAG #}
        <meta name="description" content="{% block description_tag %}{% endblock %}">
		{# TITLE TAG #}
        <title>{% block title %}{{ appname }}{% endblock %}</title>
        {# STYLESHEETS #}
        	{# General #}
            <link href="{{ asset('bundles/foscomment/css/comments.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/singzcore/css/comments.css') }}" rel="stylesheet">
            {# Menu #}
            <link href="{{ asset('bundles/singzcore/OffCanvasMenuEffects/css/normalize.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/singzcore/OffCanvasMenuEffects/css/demo.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/singzcore/OffCanvasMenuEffects/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/singzcore/OffCanvasMenuEffects/css/menu_topside.css') }}" rel="stylesheet">
        	{# Others #}
            <link href="{{ asset('bundles/singzcore/css/style.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        {# JAVASCRIPTS #}
        {% block head_javascripts %}{% endblock %}
        {# OTHERS HEAD TAGS #}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
			<div class="menu-wrap">
				<nav class="menu-top">
					<div class="profile">
						{% if app.user %}
    						<img style="width:42px;height:42px" src="{{ asset('uploads/userImage/') }}{{ app.user.image.path }}" alt="{{ app.user.username }}">
    						<span>{{ app.user.username }}</span>
    					{% endif %}
					</div>
					<div class="icon-list">
						<a href="#"><i class="fa fa-fw fa-star-o"></i></a>
						<a href="#"><i class="fa fa-fw fa-bell-o"></i></a>
						<a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
						<a href="#"><i class="fa fa-fw fa-comment-o"></i></a>
					</div>
				</nav>
				<nav class="menu-side">
					<a href="#">Recent Stories</a>
					<a href="#">Reading List</a>
					<a href="#">My Stories</a>
					<a href="#">Categories</a>
				</nav>
			</div>
			<button class="menu-button" id="open-button">Open Menu</button>
			<div class="content-wrap">
				<div class="content">
					<img src="{{ asset('bundles/singzcore/img/logo-singz.png') }}"/>

					{# Error message #}
					{{ include('SingzCoreBundle::flash-messages.html.twig') }}

					{# BODY BLOCK #}
					{% block body %}{% endblock %}
				</div>
			</div><!-- /content-wrap -->
		</div><!-- /container -->

        {# JAVASCRIPTS #}
            {# General #}
        	<script src="{{ asset('bundles/singzadmin/js/jquery.min.js') }}"></script>
        	<script>var assetsBaseDir = "{{ asset('/') }}";</script>
        	{# Menu #}
        	<script src="{{ asset('bundles/singzcore/OffCanvasMenuEffects/js/classie.js') }}"></script>
        	<script src="{{ asset('bundles/singzcore/OffCanvasMenuEffects/js/main.js') }}"></script>
        {% block end_javascripts %}{% endblock %}
    </body>
</html>
