{% extends "SingzCoreBundle::layout.html.twig" %}
{% block title %}
    Notifications - {{ parent() }}
{% endblock %}
{% block stylesheets %}
	<style>
		.notification{
			color: inherit;
		}
    	 .notification .media-object{
    	 	width:64px;
    	 	height:64px;
    	 }
    	 .notification .message{
    	 
    	 }
    	 .notification.active{
            z-index: 2;
            background-color: #f5f5f5;
            border-color: #f5f5f5;
            color: inherit;
        }
	 </style>
{% endblock %}
{% block body %}
	<div class="list-group notifications">
		{% for notification in notifications %}
			<div class="list-group-item">
    			<div class="dropdown pull-right">
                  	<button style="color: black" class="btn btn-link dropdown-toggle btn-xs" type="button" id="dropdownMenuComment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    	<i class="fa fa-caret-down" aria-hidden="true"></i>
                  	</button>
                  	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuComment">
                        <li>
                            <a href="#" data-id-notif="{{ notification.id }}" class="mark-as-read">
                            	Marquer comme lu
                            </a>
                        </li>
                  	</ul>
                </div>
    			<a class="notification {% if notification.isRead == false %}mark-as-read{% endif %}" href="{% if notification.publication is not null %}{{ path('singz_social_bundle_publication_show', {'id':notification.publication.id}) }}{% else %}{{ path('singz_user_bundle_homepage', {'id':notification.userFrom.id}) }}{% endif %}" data-id-notif="{{ notification.id }}">
        			<div class="media">
                        <div class="media-left">
    						<img class="media-object" src="{{ asset(notification.userFrom.image.realPath) }}" alt="{{ notification.userFrom.username }}">
                        </div>
                        <div class="media-body">
                            <p class="message">{{ notification.message|raw }}</p>
                            <small>
                                {{ notification.date|time_diff }}
                                {% if notification.isRead == false %} 
                                	<span>&#8226; Non lu</span>
                                {% endif %}
                            </small>
                        </div>
                    </div>
    			</a>
			</div>
		{% else %}
			Aucune notification
		{% endfor %}
	</div>
{% endblock %}
{% block end_javascripts %}
	<script>
		$(document).ready(function(){
			$('.mark-as-read').click(function(e){
				var idNotif = $(this).attr('data-id-notif');
				var notification = $('a.notification[data-id-notif="'+idNotif+'"]');
				notification.removeClass('active');
				notification.find('small span').remove();
				$.ajax({
        	        url: "{{ path('singz_social_bundle_notification_readed') }}",
        	        method: 'POST',
        	        data: { 'idNotif': idNotif }
        	    }).done(function(data, textStatus, jqXHR){
            	    
        	    }).fail(function(jqXHR, textStatus, errorThrown){

        	    }).always(function(){

    	    	});
			});
		});
	</script>
{% endblock %}