{# Stylesheets #}
<link href="{{ asset('bundles/singzcore/css/comments.css') }}" rel="stylesheet">

{# Admin or publication owner actions #}
{% if app.user and (app.user.id == publication.user.id or is_granted('ROLE_ADMIN'))  %}
	<div class="dropdown pull-right">
      	<button style="color: black" class="btn btn-link dropdown-toggle btn-xs" type="button" id="dropdownMenuPost" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			Actions <i class="fa fa-caret-down fa-fw" aria-hidden="true"></i>
		</button>
    	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuPost">
    		<li>
           		{# Edit button #}
                <a href="{{ path('singz_social_bundle_publication_edit', {'id': publication.id}) }}" class="">
                	<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editer
                </a>
            </li>
            <li>
                {# Delete button #}
                <a href="{{ path('singz_social_bundle_publication_delete', {'id': publication.id}) }}" class=" confirmation-alert">
                	<i class="fa fa-trash-o" aria-hidden="true"></i> Supprimer
                </a>
            </li>
		</ul>
	</div>
{% endif %}
{# User and loves #}
<div class="media">
    <div class="media-left">
    	{# User image #}
    	<a href="{{ path('singz_user_bundle_homepage', {'id': publication.user.id}) }}">	
    		<img class="media-object img-circle" style="width:42px;height:42px"  src="{% if publication.user.image is null %}{{ asset('bundles/singzcore/img/anonymous_icon.jpg') }}{% else %}{{ asset(publication.user.image.realPath) }}{% endif %}" alt="{{ publication.user.username }}">
    	</a>
    </div>
    <div class="media-body">
    	{# Username #}
    	<p>
            <a href="{{ path('singz_user_bundle_homepage', {'id': publication.user.id}) }}">
                {{ publication.user.username }}
            </a>
        </p>
        {# Publication date #}
        <p>{{ publication.date|time_diff }}</p>
        {# Number of love #}
        <p><i class="fa fa-fw fa-heart" aria-hidden="true"></i> <span id="nbloves-{{ publication.id }}">{{ publication.numLoves }}</span></p>
    </div>
</div>
{# Publication description #}
<p>{{ publication.description }}</p>
{# love button #}
{% if app.user %}
    <button id="love-{{ publication.id }}" onclick="lovethis(path, {{ publication.id }}, {{ app.user.id }})" class="btn btn-default">
        {% set ilove = 0 %}
        {% for love in publication.loves if ilove == 0 %}
            {% if love.user.id == app.user.id  %}
                {% set ilove = 1 %}
                Je ne love plus
            {% endif %}
        {% endfor %}
        {% if ilove == 0 %}
            Je love !
        {% endif %}
    </button>
{% else %}
	<a href="{{ path('fos_user_security_login') }}">Se connecter</a>
{% endif %}
{# Comments #}
<div class="comments-container">
    <div id="comment-thread" data-thread="{{ thread.id }}">
        {% include 'SingzSocialBundle:Publication:comments.html.twig' with {
            'comments': comments,
            'thread': thread,
            'view': 'tree',
            'main_form': main_form
        } %}
    </div>
</div>
{# Javascripts #}
<script>
	var path = '{{ path('singz_social_bundle_publication_love') }}';
    var pathExtraPublication = '{{ path('singz_social_bundle_publication_extra_info') }}';
    $(document).ready(function(){
		$('.confirmation-alert').click(function(){
			return confirm('Êtes-vous sûr?');
		});
    });
</script>
<script src="{{ asset('bundles/singzsocial/js/script.js') }}"></script>
<script src="{{ asset('bundles/singzcore/js/comment.js') }}"></script>
