{# Extra CSS #}
<link rel="stylesheet" href="{{ asset('bundles/singzvideo/css/plyr.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/singzcore/css/grid-effect.css') }}">
{# Content #}
<div class="sz_video_003_wrapper">
	<div class="sz_video_003_trig ">
		<ul class="grid effect-2" id="grid">
			{% for publication in publications %}
				<li>
        			<div data-small-publication="{{ publication.id }}">
        				<div class="sz_video_003_trig_wrap">
        					<div class="sz_video_003_trig_img">
        						<img src="{{ asset(publication.video.previewPath) }}" class="preview" alt="PREVIEW ERROR">
        						<div class="sz_video_003_trig_btn">
        							<a href="#sz_video_003_4_col" data-toggle="modal" data-slide-to="{{ loop.index0 }}" data-backdrop="true">
        								<span class="fa fa-play"></span>
        							</a>
        						</div>
        						<span>{{ publication.video.duration }} s</span>
        					</div>
        					<div class="sz_video_003_trig_txt">
    							<div class="media">
                                    <div class="media-left">
                                    	<a href="{{ path('singz_user_bundle_homepage', {'username': publication.user.username}) }}">
                                    		<img class="media-object img-circle" style="width:42px;height:42px"  src="{{ asset(publication.user.image.realPath) }}" alt="{{ publication.user.username }}">
                                    	</a>
                                    </div>
                                    <div class="media-body">
                                    	<div class="media-heading">
                                    		<p>
                							    <a href="{{ path('singz_user_bundle_homepage', {'username': publication.user.username}) }}" style="display:inline">
                							    	{{ publication.user.username }}
                							    </a>
                							    <small> {% if 'ROLE_STARZ' in publication.user.roles %} &#9733; Starz {% endif %}</small>
                							 </p>
                                        </div>
										<p>
											<i class="fa fa-fw fa-heart" aria-hidden="true"></i><span class="nbloves-{{ publication.id }}"> {{ publication.numLoves }} </span>
											<i class="fa fa-fw fa-comments" aria-hidden="true"></i><span class="nbcomments-{{ publication.id }}"> {{ publication.thread.numComments }} </span>
										</p>
                             	   	</div>
                                </div>
        					</div>
        				</div>
        			</div>
				</li>
    		{% endfor %}
		</ul>
		<div id="sz_video_003_4_col" class="modal fade sz_vid_003_mod_sld sz_bd_black carousel sz_video_003_controls sz_video_003_indicators thumb_scroll_y selfPauseVidm selfPlayVidm " data-ride="carousel" data-duration="2000" data-interval="false" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<a href="#" class="sz_video_003_close" data-dismiss="modal"><span class="fa fa-times"></span></a>
					<div class="carousel-inner" role="listbox">
						{% for publication in publications %}
    						<div class="item {% if loop.first %}active{% endif %}" data-big-publication="{{ publication.id }}">
    							{#
    							<div class="sz_video_003_slide_txt">
    							</div>
    							#}
    							<div class="sz_sldr_vid_003_image">
    								<img src="{{ asset(publication.video.previewPath) }}" alt="PREVIEW ERROR">
    							</div>
    							<div class="sz_video_003_slf_host">
    								<video controls>
    									<source src="{{ asset(publication.video.videoPath) }}">
    									Your browser does not support HTML5 video.
    								</video>
    							</div>
    							{#
    							<!-- Social Media Icons -->
    							<ul class="sz_video_003_slide_social">
    								<li><a href="#"><span class="fa fa-facebook"></span></a></li>
    								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
    								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
    								<li><a href="#"><span class="fa fa-youtube"></span></a></li>
    								<li><a href="#"><span class="fa fa-vimeo"></span></a></li>
    							</ul>
    							#}
    						</div>
    		            {% endfor %}
					</div>
					<div class="right-side">
						<img class="loading-comments" src="{{ asset('bundles/singzcore/img/loading-comments.svg') }}" style="display:block;margin-left: auto;margin-right: auto;padding: 35% 0;">
						<div class="extra-publication">
    						{#
    							User picture, username, number of loves, publish time, publication description,
    							button to love and comments will be generated after clicking on the publication
    						#}						
						</div>
					</div>
					{#<a class="left carousel-control" href="#sz_video_003_4_col" role="button" data-slide="prev">
						<span class="fa fa-angle-left"></span>
					</a>
					<a class="right carousel-control" href="#sz_video_003_4_col" role="button" data-slide="next">
						<span class="fa fa-angle-right"></span>
					</a>#}
				</div>
			</div>
		</div>
	</div>
</div>
{# Extra JS #}
<script src="{{ asset('bundles/singzvideo/js/plyr.min.js') }}"></script>
<script src="{{ asset('bundles/singzsocial/js/loadExtraPublication.js') }}"></script>

<script src="{{ asset('bundles/singzcore/js/masonry.pkgd.min.js') }}"></script>
<script src="{{ asset('bundles/singzcore/js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset('bundles/singzcore/js/classie.js') }}"></script>
<script src="{{ asset('bundles/singzcore/js/AnimOnScroll.js') }}"></script>
<script>
	plyr.setup();
	var pathExtraPublication = '{{ path('singz_social_bundle_publication_extra_info') }}';

	new AnimOnScroll(document.getElementById('grid'),{
		minDuration : 0.4,
		maxDuration : 0.7,
		viewportFactor : 0.2
	});
</script>